doctype html
html
    head
        title='管理界面'
        link(rel='stylesheet' href='../dist/stylesheets/managerIndex.css')
        include ../public/public_js.html
    body
        section(id='all-wrap')
    script(src="../dist/managerIndex.js")
